@{ ViewData["Title"] = "Aircnc優惠券:邀請好友";}


<section class="container">

    <div class="row">
        <div class="col-2 section1">
            <h2 class="fw-bold">邀請計畫</h2>
        </div>
        <div class="col-10">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">

        </div>
        <div class="col-12 col-md-6 mt-5 section2">
            <div class="shadow mb-5 bg-white rounded h-100 d-flex flex-column justify-content-between">
                <div class="textbox2 mt-5 mx-auto w-75">
                    <h3 class="fw-bold">查看受邀好友註冊狀態</h3>
                    <p class="mt-3">已完成註冊的受邀好友</p>
                    <p class="">註冊</p>
                    <button class="button5 mt-2">顯示更多詳情</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">

        </div>
    </div>
</section>

<section class="container mt-5 section3">
    <hr class="middleline mt-2" style="border : 1px solid  grey;" />
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="fw-bold">常見問題</h2>
            <p>歡迎前往<a href="" class="info-center">說明中心</a>查看常見問答，並瀏覽該計畫的其他詳情。</p>
        </div>
        <div class="col-12 col-md-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed fs-5 fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            現在還有好友邀請計畫嗎？
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            好友邀請計畫目前已取消，無法再傳送新的邀請。
                            <br>
                            如果你在計畫取消前有獲得優惠券，可於期限前用於任何一種預訂。
                            <br>
                            邀請人的旅行基金在效期前仍可繼續使用。如果之前邀請的好友在效期前使用優惠券，你就能在對方退房後獲得旅行基金（實際金額以當時的優惠為準）。
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed fs-5 fw-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            我有邀請好友，但沒收到旅行基金
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">凡是 2020 年 10 月 1 日後送出的好友邀請，Airbnb 將不再提供旅行基金。</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section topCss{
    <link href="~/css/Personal/index-style.css" rel="stylesheet" />
    <link href="~/css/Personal/Invitecoupon.css" rel="stylesheet" />
}


