@model Aircnc.FrontStage.Models.ViewModels.Member.MemberViewModel
@{ ViewData["Title"] = "通知 - 帳號設定";}


<section>
    <div class="container">
        <div class="row">
            <div class="topper-container ps-5 col-md-12">
                <div class=" title">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Personal/PersonalBox">帳號</a></li>
                            <li class="breadcrumb-item active" aria-current="page">通知</li>
                        </ol>
                    </nav>
                </div>
                <div class="title mb-5">
                    <h4>通知</h4>
                </div>
            </div>
            <div class="lower-container">
                <div class="left-container col-12 col-md-7 ps-5">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button onclick="click_news()" class="nav-link active" id="pills-news-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-news" type="button" role="tab"
                                    aria-controls="pills-news" aria-selected="true">
                                優惠和最新消息
                            </button>
                            <button onclick="click_account()" class="nav-link" id="pills-account-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-account" type="button" role="tab"
                                    aria-controls="pills-account" aria-selected="false">
                                帳號
                            </button>
                        </li>
                    </ul>
                    <hr class="my-0">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-news" role="tabpanel"
                             aria-labelledby="pills-news-tab">
                            <div class="content-title my-4">
                                <h5>出租的深入分析與獎勵</h5>
                                <p>了解出租的最佳做法，享受獨家的優惠。</p>
                            </div>
                            <div class="each-item">
                                <h6>認可與成就</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#accomplishment">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="accomplishment" tabindex="-1"
                                     aria-labelledby="recognization_and_accomplishment" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="recognization_and_accomplishment">
                                                        認可與成就
                                                    </h5>
                                                    <p>達成出租里程碑，取得超讚房東身分的認可。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>深入分析和建議</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#suggestion_and_analysis">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="suggestion_and_analysis" tabindex="-1"
                                     aria-labelledby="analysis_and_suggestion" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="analysis_and_suggestion">
                                                        深入分析和建議
                                                    </h5>
                                                    <p>達成出租里程碑，取得超讚房東身分的認可。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>價格趨勢和建議</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#trend_price">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="trend_price" tabindex="-1" aria-labelledby="price_trend"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="price_trend">
                                                        價格趨勢和建議
                                                    </h5>
                                                    <p>達成出租里程碑，取得超讚房東身分的認可。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>出租的福利</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#rental_benefits">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="rental_benefits" tabindex="-1"
                                     aria-labelledby="benefits_rental" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="benefits_rental">
                                                        出租的福利
                                                    </h5>
                                                    <p>達成出租里程碑，取得超讚房東身分的認可。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <hr>
                            <div class="content-title my-4">
                                <h5>Airbnb 最新消息</h5>
                                <p>及時掌握 Airbnb 的最新消息，並向我們提供改善建議。</p>
                            </div>
                            <div class="each-item">
                                <h6>最新消息與計畫</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#news_plan">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="news_plan" tabindex="-1" aria-labelledby="plan_news"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="plan_news">
                                                        最新消息與計畫
                                                    </h5>
                                                    <p>啟用：電子郵件</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>意見</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#Opinion-Modal">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="Opinion-Modal" tabindex="-1" aria-labelledby="Opinion"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="Opinion">
                                                        意見
                                                    </h5>
                                                    <p>向我們提供意見和改進建議。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>旅遊法規</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#Rules">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="Rules" tabindex="-1" aria-labelledby="Travel-Rules"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="Travel-Rules">
                                                        旅遊法規
                                                    </h5>
                                                    <p>獲取法規的最新消息，當個聰明的旅客。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <hr>
                            <div class="cancel-subscription">
                                <div class="form-check">
                                    <button type="button" class="btn cancel-subscription-btn" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        <input class="form-check-input me-3" type="checkbox" value=""
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">取消訂閱所有行銷電子郵件</label>
                                    </button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">您確定嗎？</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                您將取消訂閱來自Airbnb的所有行銷電子郵件，
                                                包括推薦、旅遊靈感和優惠、房源所在城市的好去處、Airbnb使用說明、邀請和推薦、調查和研究、商務Airbnb最新消息、房源出租／舉辦體驗的建議和促銷活動。
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    取消
                                                </button>
                                                <button type="button" class="btn btn-primary"
                                                        data-bs-dismiss="modal"
                                                        onclick="click_cancel_subscription()">
                                                    取消訂閱
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                        </div>
                        <!-- 分頁 -->
                        <div class="tab-pane fade" id="pills-account" role="tabpanel"
                             aria-labelledby="pills-account-tab">
                            <div class="content-title my-4">
                                <h5>帳號活動與政策</h5>
                                <p>確認預訂和帳號活動，了解重要的 Airbnb 政策。</p>
                            </div>
                            <div class="each-item">
                                <h6>帳號活動</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#account_activity">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="account_activity" tabindex="-1"
                                     aria-labelledby="activity_account" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="activity_account">
                                                        帳號活動
                                                    </h5>
                                                    <p>隨時掌握預訂、帳號活動和法律資料（如我們的《服務條款》）的最新消息。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>房源頁面活動</h6>
                                <p>啟用：電子郵件和簡訊</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#rooms_activity">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="rooms_activity" tabindex="-1"
                                     aria-labelledby="activity_rooms" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="activity_rooms">
                                                        房源頁面活動
                                                    </h5>
                                                    <p>收到所有預訂的通知，讓一切井然有序。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>《旅客政策》</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#visitor_policy">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="visitor_policy" tabindex="-1"
                                     aria-labelledby="policy_visitor" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="policy_visitor">
                                                        《旅客政策》
                                                    </h5>
                                                    <p>隨時掌握關於使用 Airbnb 的重要資訊。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault" disabled>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>《房東政策》</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#landlord_policy">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="landlord_policy" tabindex="-1"
                                     aria-labelledby="policy_landlord" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="policy_landlord">
                                                        《房東政策》
                                                    </h5>
                                                    <p>獲得有關 Airbnb 規定和政策的更新，以及稅務及法規的最新消息。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault" disabled>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <hr>
                            <div class="content-title my-4">
                                <h5>旅程建議和優惠</h5>
                                <p>參考為你提供的個人化推薦及特別優惠，為下一趟旅程蒐集靈感。</p>
                            </div>
                            <div class="each-item">
                                <h6>靈感和優惠</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#discount_and_inspiration">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="discount_and_inspiration" tabindex="-1"
                                     aria-labelledby="inspiration_and_discount" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="inspiration_and_discount">
                                                        靈感和優惠
                                                    </h5>
                                                    <p>令人心動的房源、體驗和優惠。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>旅程規畫</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#plan">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="plan" tabindex="-1"
                                     aria-labelledby="plan_for" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="plan__for">
                                                        旅程規畫
                                                    </h5>
                                                    <p>專為你的旅程提供個人化推薦。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <hr>
                            <div class="content-title my-4">
                                <h5>房東新訊</h5>
                                <p>獲取關於各個計畫、功能及法規的最新消息。</p>
                            </div>
                            <div class="each-item">
                                <h6>新聞和最新消息</h6>
                                <p>啟用：電子郵件</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#news_for_landlord">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="news_for_landlord" tabindex="-1"
                                     aria-labelledby="landlord_news" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="landlord_news">
                                                        新聞和最新消息
                                                    </h5>
                                                    <p>率先掌握第一手消息，了解全新工具、應用程式和服務更新。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                            <div class="each-item">
                                <h6>當地法律與法規</h6>
                                <p>啟用：電子郵件和電話聯絡</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn edit-btn" data-bs-toggle="modal"
                                        data-bs-target="#local_rules">
                                    編輯
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="local_rules" tabindex="-1"
                                     aria-labelledby="rules_local" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body-title">
                                                    <h5 class="modal-title" id="rules_local">
                                                        當地法律與法規
                                                    </h5>
                                                    <p>獲取所在地短期租賃法律的最新消息。</p>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電子郵件</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckChecked">簡訊</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckChecked" checked>
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">電話聯絡</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                                <div class="form-check form-switch my-5">
                                                    <label class="form-check-label"
                                                           for="flexSwitchCheckDefault">瀏覽器通知</label>
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                           id="flexSwitchCheckDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 right-container py-md-auto d-none d-md-block ms-md-5">
                    <hr id="hr-sm-display">
                    <h5>想透過哪個電話號碼接收簡訊？</h5>
                    <p>勾選「簡訊」方塊，即表示你同意透過以下電話號碼接收來自 Airbnb 及其合作夥伴的自動撥號促銷內容：</p>
                    <select class="form-select" aria-label="Default select example">
                        <h6>選擇電話號碼</h6>
                        <option selected>+886 *** *** 243</option>
                    </select>
                    <p class="my-3">如需更多資訊，請在簡訊中輸入「HELP」並傳送至247262。 若想取消手機通知，請回傳「STOP」至247262。 可能會產生簡訊和數據費用。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function click_account() {
        document.getElementById('pills-news-tab').style.borderBottomColor = "#ffffff";
        document.getElementById('pills-account-tab').style.borderBottom = "medium solid #000000";
    }

    function click_news() {
        document.getElementById('pills-account-tab').style.borderBottomColor = "#ffffff";
        document.getElementById('pills-news-tab').style.borderBottom = "medium solid #000000";
    }

    function click_cancel_subscription() {
        document.getElementById('flexCheckDefault').checked = true;
    }
</script>

@section topCSS{
    <link href="~/css/Notification/normalize.css" rel="stylesheet" />
    <link href="~/css/Notification/Notification.css" rel="stylesheet" />
}