@{ ViewData["Title"] = "專業出租 - 帳號設定";}

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a href="~/Personal/PersonalBox" class="fw-bold account">帳號</a>
                <span class="fw-bold mx-2">></span>
                <span class="fw-bold">專業出租工具</span>
            </div>
            <div class="col-10">
                <span class="fs-2 fw-bold">專業出租工具</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <div class="sec-1">
                    <p class="title">公司</p>
                    <label for="" class="text-decoration-underline fw-bold">管理</label>
                </div>
                <p>編輯公司資料及管理大批房源</p>
                <hr style="border : 1px solid  grey;" class="mt-2" />

                <div class="sec-1">
                    <p class="title">允許我使用電子郵件別名聯絡房客</p>
                    <p class="mt-2">本人保證僅會以下述原因，使用電子郵件別名：</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    </div>
                    <ul>
                        <li class="ull">本人須以附件形式傳送當地法律要求的文件</li>
                        <li class="ull">本人須以附件形式傳送租賃協議</li>
                        <li class="ull">本人須以附件形式傳送入住指南</li>
                        <li class="ull">本人使用與 Airbnb 相連的軟體，該軟體未整合 Airbnb 的訊息功能</li>
                    </ul>
                    <p>本人理解，本人使用電子郵件別名受 Airbnb <a href="" class="fw-bold info-center">《站外政策》</a>的約束。</p>
                </div>

            </div>

            <div class="col-12 col-md-4 ">

            </div>
        </div>
    </div>
</section>

@section topCss{
    <link href="~/css/Personal/index-style.css" rel="stylesheet" />
    <link href="~/css/Personal/RentTool.css" rel="stylesheet" />
}

