@{ ViewData["Title"] = "商務Aircnc - 帳號設定";}

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a href="~/Personal/PersonalBox" class="fw-bold account">帳號</a>
                <span class="fw-bold mx-2">></span>
                <span class="fw-bold">差旅</span>
            </div>
            <div class="col-10">
                <span class="fs-2 fw-bold">差旅</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <div class="sec-1">
                    <h1 class="fs-4">加入商務Airbnb</h1>
                    <p class="rbht mt-2">新增工作電子郵件，即可輕鬆報帳並享有商務差旅獨家優惠。</p>
                    <p class="rbht fw-bold mt-2">工作電子郵件地址</p>
                    <input type="text" class="form-control inp mt-2">
                </div>

                <div>
                    <button class="btnss mt-3" disabled>新增工作電子郵件信箱</button>
                </div>

            </div>
            <div class="col-12 col-md-2 mt-5">

            </div>
            <div class="col-12 col-md-4 rightbox">
                <i class="fas fa-shield-alt fs-1"></i>
                <h2 class="rbh">簡化報帳流程</h2>
                <p class="rbht">我們會將差旅收據寄至你的工作電子郵件信箱，以便報帳核銷。</p>
                <i class="fas fa-shield-alt fs-1 mt-3"></i>
                <h2 class="rbh">旅程說明</h2>
                <p class="rbht">新增商務差旅的支出代碼和業務目的。</p>
                <i class="fas fa-shield-alt fs-1 mt-3"></i>
                <h2 class="rbh">不公開私人旅程資訊</h2>
                <p class="rbht">貴公司只會看到你付款時標記為商務差旅的旅程資料。</p>
            </div>
        </div>
    </div>
</section>

@section topCss{
    <link href="~/css/Personal/index-style.css" rel="stylesheet" />
    <link href="~/css/Personal/Trip.css" rel="stylesheet" />
}
