a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 1px solid #000;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 4;
}
.navbar-brand:hover{
    border: none;
}
.logo{
    width: 100px;
}
li{
    list-style: none;
}

footer ul {
    font-size: 12px;
}
footer h4{
    font-size: 16px;
    font-weight: bold;
}
.dropdown-menu.dropdown-menu-end{
    border-radius: 20px;
}
.social:hover{
    border: none;
    color: #faa;
    transition: 0.3s ease;
}
/*modal­Ì*/
.sns-sign-in button, .sns-login button {
    border: 1px solid black;
}

.dropdown-menu li a:hover {
    border-bottom: none;
}

.enroll-btn {
    background-color: rgb(227,29,89);
    border-radius: 7px;
}




