.btn:focus{
    box-shadow:none;
}

a{
    text-decoration:none;
    color:#000;
}

p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
}

a:hover{
    color: #000;
}

.h1_house_nums {
    font-size: 25px;
    color: #484848;
    font-weight: bold;
}

#hostList_searchBar {
    /* width: 25%; */
    height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    margin-bottom: 20px;
    font-size: 1rem;
}

.hostList_filter_container .dropdown {
    padding: 0 15px;
    padding-top: 20px;
}

    .hostList_filter_container .dropdown a {
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #6c6c6c;
        color: #000;
        font-size: 14px;
    }

#button_hostList_searchBar {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

    #button_hostList_searchBar:hover {
        cursor: pointer;
    }

.btn_create_house {
    border: 1px solid #6c6c6c;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

/* 房間與床鋪 */
.dropdown-menu {
    border-radius: 10px;
    top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown_room_and_bed_count,
.dropdown_equipment_and_service,
.dropdown_roomStatus {
    width: 250px;
    margin: 1em 1.5em;
}

.dropdown_equipment_and_service {
    width: 400px;
}

.p_dropdown_edit_room,
.p_dropdown_edit_bed,
.p_dropdown_edit_bathroom,
.p_dropdown_edit_clear {
    width: 150px;
    margin-bottom: 0;
    margin-top: 7px;
    font-size: 14px;
}

/*清除btn*/
.btn_dropdown_edit_clear {
    padding: 0;
}

/* 套用btn */
.btn_edit_apply {
    border-radius: 8px;
    padding: 12px 25px;
    font-weight: 600;
    margin-right: 5px;
}

.dropdown_edit_apply_and_delete_section {
    margin: 1em 1.5em;
    margin-top: 2.5em;
}

/* 建立房源icon */
.fa-plus {
    padding-right: 5px;
}

/* 房間與床鋪加減btn*/
.btn_edit {
    padding: 0;
}

/* 房間與床鋪加減icon*/
.fa-minus,
.room_plus {
    color: #6c6c6c;
    border: 1px solid #979797;
    border-radius: 100%;
    padding: 5px 7px;
    font-size: 15px;
}

.edit_room_count,
.edit_bed_count,
.edit_bathroom_count {
    line-height: 40px;
    width: 65px;
    text-align: center;
}


.form_check_equipment_and_service,
.form_check_roomStatus {
    width: 200px;
}

.form-check {
    margin-bottom: 15px;
}

.form-check-input:focus {
    border-color: none;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #484848;
}

/*新增房源*/
.btn_create_house {
    border: 1px solid #6c6c6c;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

/* 房源資訊圖片 */
.host_list_house_img img {
    width: 80px;
    border-radius:5px;
}

.tr_roomlist {
    line-height: 2rem;
    margin: auto 0;
}

.hostList_room_name{
    width:25%;
}

.hostList_room_name p{
    width:60%;
}


/*關掉dropdown的list*/
/*.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}*/