.btn:focus {
    box-shadow: none;
}

.h1_reservation {
    font-size: 30px;
    font-weight: bolder;
    color: #484848;
}

/* icon */
.fa-angle-left {
    font-size: 20px;
    padding: 10px;
}

.fa-angle-down {
    padding-left: 7px;
}

/* 篩選條件及匯出按鈕樣式 */
.btn_filter,
.btn_export {
    color: #484848;
    font-size: 14px;
    border: 1px solid #ebebeb;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

/* 篩選條件點下去的div */
.dropdown_menu_filter {
    width: 350px;
    padding: 20px;
}

    /* 篩選條件p */
    .dropdown_menu_filter p {
        font-weight: bold;
        color: #484848;
    }

    /* 篩選條件span */
    .dropdown_menu_filter span {
        font-size: 14px;
    }

/* 篩選條件 - 套用btn */
.button_filter_submit {
    display: block;
    color: #fff;
    background-color: #008489;
    margin-left: auto;
}

    .button_filter_submit:hover {
        color: #fff;
    }

/* 篩選及匯出按鈕的right-radius */
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* 列印按鈕樣式 */
.btn_print {
    color: #008489;
    border: 1px solid #008489;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem 1rem;
}

    /* 列印按鈕滑過去時 */
    .btn_print:hover {
        color: #008489;
    }

/* 篩選及匯出按鈕按下去時 */
.btn_filter:focus,
.btn_export:focus {
    color: #008489;
    border: 1px solid #008489;
}

.tabs_container {
    margin: 2em 0;
}

    /* tab button */
    .tabs_container button {
        color: #484848;
        font-weight: bolder;
    }

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-link.active {
    color: #008489;
    outline: none;
    border-color: transparent;
    border-bottom: 2px solid #008489;
}

.tabs_container button:hover {
    color: #484848;
}

.tabs_container button:active,
.tabs_container button:visited {
    color: #008489;
}

.tab_pane_text_upcoming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ebebeb;
    margin: 2em 0;
    padding: 1.5em;
    border-radius: 10px;
}

    .tab_pane_text_upcoming a {
        color: #008489;
        text-decoration: none;
    }

.upcoming_check_all_reservations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 0;
    border-bottom: 1px solid #dfdbdb;
}

    .upcoming_check_all_reservations a {
        text-decoration: none;
        font-size: 18px;
        color: #008489;
    }

        .upcoming_check_all_reservations a:hover,
        .share_your_oppinions a:hover {
            text-decoration: underline;
        }

.tab_pane_text {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dfdbdb;
}

    .upcoming_check_all_reservations p,
    .tab_pane_text p {
        font-weight: bolder;
        color: #484848;
        font-size: 18px;
        margin: 0;
    }

    .tab_pane_text span {
        color: #484848;
        font-size: 18px;
    }

/*詳細按鈕*/
.btn_host_reservation_detail {
    background-color: #008489;
}
.share_your_oppinions {
    padding: 5em 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.share_your_oppinions a {
    text-decoration: none;
    color: #008489;
}

/*詳細資料*/
/*.modal-header {
    background-color: #41464b;
    color: #fff;
    font-weight: 700;
}

.modal-body {
    background-color: #41464b;
    color: #fff;
}*/

.modal-footer {
    border-top: none;
}

.roomReservation_detail {
padding: 0.5em;
}

.roomReservation_detail > h5 {
    font-size: 16px;
}

.btn_roomReservation_detail_close {
    background-color: #41464b;
    color: #fff;
    font-weight: 500;
}

/*.btn_roomReservation_detail_close {
    background-color: #dc3545;
    color: #fff;
    font-weight:500;
}*/

/*.btn:hover{
    color:#fff;
}*/