
@{
    ViewData["Title"] = "Aircnc創造房源";

    Layout = "";
}



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Aircnc創造房源</title>
    <link rel="stylesheet" href="/css/Room_Owner/CreateRoom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- searchlibrary -->

</head>

<body>
    <!-- p1 housetype -->
    <div class="container-fluid step">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question">
                <h3>你想出租哪種類型的房源?</h3>
            </div>
            <!-- 選項1 -->
            <div class="col-md-6 Options">
                <div class="row justify-content-center  pt-5 OptionsRow1  align-content-center align-items-center ">
                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">
                        <span>公寓</span>
                        <img src="/Img/CreateRoom/add01_01_apart.jpg" alt="">
                    </button>
                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">
                        <span>獨棟房屋</span>
                        <img src="/Img/CreateRoom/add01_02.jpg" alt="">
                    </button>


                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">
                        <span>獨特房源</span>
                        <img src="/Img/CreateRoom/add01_04.jpg" alt="">
                    </button>
                    <button class="col-8 OptionCards d-flex justify-content-between btn bg-white ">
                        <span>家庭式旅館</span>
                        <img src="/Img/CreateRoom/add01_05.jpg" alt="">
                    </button>

                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">

                        <button class="btn btn-dark ms-auto text-decoration-none text-white next"
                                disabled>
                            下一步
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p2 roomtype -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question">
                <h3>房客會入住哪種空間?</h3>
            </div>
            <!-- 選項 -->
            <div class="col-md-6 col-12 Options  ">
                <div class="row justify-content-center   OptionsRow2 align-content-center">

                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">

                        <span>整套房源</span>
                    </button>
                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">

                        <span>獨立房間</span>
                    </button>
                    <button class="col-8 OptionCards d-flex justify-content-between  btn bg-white ">

                        <span>合住房間</span>
                    </button>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next" disabled>下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p3 地圖 -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question">
                <h3>房源的位置在哪裡?</h3>
            </div>
            <!-- 地圖-->
            <div class="col-md-6 col-12 Options position-relative ">
                <div class="row justify-content-center OptionsRow3 ">
                    <!-- 搜尋列(暫時 之後要用google的) -->
                    <div class="col-12 col-md-8 d-block" id="first_address">
                        <div class="input-group mb-3  ">
                            <!-- <span class="input-group-text" id="basic-addon1"></span> -->
                            <input type="text" class="form-control" placeholder="請輸入地址"
                                   aria-label="Username" aria-describedby="basic-addon1 " id="input_first_address">
                            <button class="btn btn-danger" id="btn_check_address" disabled>確認</button>
                        </div>

                    </div>
                    <!-- 詳細確認地址modal 找到地址後才要顯示-->
                    <div class="col-12 col-md-8 d-none align-content-between " id="detail_address">
                        <div class="w-100" id="form_addressDetail">

                            <h2 class="text-center fs-5 fw-bolder">確認您的地址</h2>
                            <div class="">
                                <label for="input_street" class="form-label">街道地址</label>
                                <input type="text" required class="form-control" id="input_street">
                            </div>
                            <div class="">
                                <label for="input_district" class="form-label">區域(鄉鎮市區)</label>
                                <input type="text" required class="form-control" id="input_district">
                            </div>
                            <div class="">
                                <label for="input_city" class="form-label" id="input_street">城市</label>
                                <input type="text" required class="form-control" id="input_city">
                            </div>
                            <div class="">
                                <label for="input_country" class="form-label" id="input_street">國家</label>
                                <input type="text" required class="form-control" id="input_country">
                            </div>

                            <button id="btn_submitAddressDetail" type="submit"
                                    class="btn btn-dark fs-6  fw-bolder mt-4 lh-lg">
                                儲存該地址
                            </button>
                            <button id="btn_backToGoogleSearch"
                                    class="btn btn-danger fs-6 fw-bolder mt-4 lh-lg ">
                                更改地址
                            </button>

                        </div>
                    </div>
                    <div class="col-12  ">
                        <!-- 圖本身  -->
                        <div id="map" class=""></div>

                    </div>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next"
                                disabled>
                            下一步
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p4 衛浴數 -->
    <div class="container-fluid step " style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question">
                <h3>你打算接待幾位房客?</h3>
            </div>
            <!-- 選項 -->
            <div class="col-md-6 col-12 Options ">
                <div class="row justify-content-center align-content-center  OptionsRow4 ">
                    <div class="col-12 col-md-8">
                        <div class="form-outline">
                            <span>房客</span>
                            <span>
                                <button class="btn me-2" id="minus_people"><i class="fas fa-minus-circle"></i></button>
                                <span id="num_pax">1</span>
                                <button class="btn ms-2" id="plus_people"><i class="fas fa-plus-circle"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 ">
                        <div class="form-outline">
                            <span>床位</span>
                            <span>
                                <button class="btn me-2" id="minus_bed"><i class="fas fa-minus-circle"></i></button>
                                <span id="num_bed">1</span>
                                <button class="btn ms-2" id="plus_bed"><i class="fas fa-plus-circle"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 ">
                        <div class="form-outline">
                            <span>臥室</span>
                            <span>
                                <button class="btn me-2" id="minus_room"><i class="fas fa-minus-circle"></i></button>
                                <span id="num_room">1</span>
                                <button class="btn ms-2" id="plus_room"><i class="fas fa-plus-circle"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 ">
                        <div class="form-outline">
                            <span>衛浴</span>
                            <span>
                                <button class="btn me-2" id="minus_bathroom">
                                    <i class="fas fa-minus-circle"></i>
                                </button>
                                <span id="num_bathroom">1</span>
                                <button class="btn ms-2" id="plus_bathroom"><i class="fas fa-plus-circle"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--p5 servicelabel -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question">
                <h3>讓房客知道房源內有提供哪些設備與服務</h3>
            </div>
            <!-- 選項 -->
            <div class="col-md-6 col-12 Options ">
                <div class="row justify-content-center pt-md-5 OptionsRow5 align-content-center">

                    <button class="col-5 OptionCards d-flex ms-auto me-3 mt-md-5 btn bg-white justify-content-center">
                        <i class="fas fa-wifi"></i>
                        <span>WiFi</span>
                    </button>
                    <button class="col-5 OptionCards d-flex me-auto mt-md-5 btn bg-white justify-content-center">
                        <i class="fas fa-sink"></i>
                        <span>廚房</span>
                    </button>
                    <button class="col-5 OptionCards d-flex ms-auto me-3 mt-5 btn bg-white justify-content-center">
                        <i class="fas fa-tv"></i>
                        <span>電視</span>
                    </button>
                    <button class="col-5 OptionCards d-flex me-auto mt-5 btn bg-white justify-content-center">
                        <i class="fas fa-tshirt"></i>
                        <span>洗衣機</span>
                    </button>
                    <button class="col-5 OptionCards d-flex ms-auto me-3 mt-5 btn bg-white justify-content-center">
                        <i class="fas fa-thermometer-empty"></i>
                        <span>空調</span>
                    </button>
                    <button class="col-5 OptionCards d-flex me-auto mt-5 btn bg-white justify-content-center">
                        <i class="fas fa-parking"></i>
                        <span>停車位</span>
                    </button>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next ">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p6 新增照片  -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question ">
                <h3>接下來，請為房源新增幾張相片</h3>
            </div>
            <!-- 照片 -->
            <div class="col-md-6 col-12 Options   ">
                <div class="row justify-content-center OptionsRow6 ">
                    <div class="col-10 col-md-6 p-3 my-auto d-flex flex-wrap justify-content-center text-center  "
                         id="pic_upload_0">
                        <div class="w-100 text-center my-auto  ">
                            <i class="fas fa-images fs-3 mt-3"></i>
                            <h2 class="fs-3 fw-bolder">請上傳照片</h2>
                            <div class="fs-6 text-danger">點擊圖片可刪除，拖曳圖片可排序</div>
                            <div class="input-group mt-5">
                                <input type="file" name="myFile" class=" form-control drop-zone__input" id="drop-zone__input" aria-label="Upload">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row" id="picArea">

                        </div>
                    </div>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next" disabled>下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p7 房源名稱 -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question ">
                <h3>來為房源取名吧</h3>
            </div>
            <!-- 照片 -->
            <div class="col-md-6 col-12 Options  ">
                <div class="row justify-content-center  OptionsRow7  ">
                    <div class="col-10 col-md-8 my-auto ">
                        <h3 class="fw-bolder mb-4">建立標題</h3>
                        <textarea class="w-100" name="" id="RoomTitle" cols="10" rows="5" maxlength="50"
                                  required></textarea>
                    </div>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next"
                                disabled>
                            下一步
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p8 房源描述 -->
    <div class="container-fluid step" style=" display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question ">
                <h3>來為房源撰寫描述</h3>
            </div>
            <!-- 照片 -->
            <div class="col-md-6 col-12 Options   ">
                <div class="row justify-content-center  OptionsRow8 ">
                    <div class="col-10 col-md-8 my-auto ">
                        <h3 class="fw-bolder ">撰寫房源描述</h3>
                        <textarea class="w-100" name="" id="RoomDesrcibe" cols="10" rows="5" maxlength="500"
                                  required>在這座寧靜的綠洲放鬆身心，好好度個假。</textarea>
                    </div>
                </div>
                <div class="row nextsteprow">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn btn-dark ms-auto text-decoration-none text-white next">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- p9 價格 -->
    <div class="container-fluid step" style="display: none">
        <div class="row">
            <!-- 問題 -->
            <div class="col-md-6 col-12  Question  ">
                <h3>有趣的部分來了！現在請設定價格</h3>
            </div>
            <div class="col-md-6 col-12 Options  ">
                <div class="row justify-content-center  OptionsRow9">
                    <div class="col-10 col-md-12 mt-auto text-center  ">
                        <button class="btn me-3" id="btn_price_minus"><i class="fas fa-minus-circle"></i></button>
                        <input type="text" id="input_price" value="500"
                               onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                        <button class="btn ms-3" id="btn_price_plus"><i class="fas fa-plus-circle"></i></button>
                    </div>
                    <div class="col-12 col-md-12 mb-auto">
                        <div class=" text-center fw-bolder fs-3 lh-lg ">每晚</div>
                        <div class=" fs-6 text-center">請留意，與你的房源類似的住宿，價格通常落在 $603 至 $1,005 之間。</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 nextstep  d-flex  p-4">
                        <button class="text-black back  bg-white btn  border-0 text-decoration-underline">返回</button>
                        <button class="btn  ms-auto  btn-danger" id="btn_CreateRoom">
                            <a href="#"
                               class="text-decoration-none text-white">建立房源</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/RoomOwner/CreateRoom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEsRONwcGSIu6xTXnVa_DeONA080hsKpU&libraries=places&callback=initMap">
    </script>

</body>

</html>