@model Aircnc.FrontStage.Models.ViewModels.Member.MemberViewModel
@{ Layout = "_perLayout"; ViewData["Title"] = "身分驗證";}
<section>
    <div class="container">
        <div class="row">
            <div class="left-container col-12 col-md-6 ps-5">
                <div class="add-identity py-2">
                    <h4>選擇要新增的身分證件類型</h4>
                </div>
                <!-- <div class="dropdown" id="country-selector"> -->
                <span>核發國家 / 地區</span>
                <select class="form-select" aria-label="Default select example">
                    <option selected>台灣</option>
                    <option value="1">蘇聯</option>
                    <option value="2">日本</option>
                    <option value="3">法國</option>
                    <option value="3">德國</option>
                    <option value="3">英國</option>
                    <option value="3">立陶宛</option>
                    <option value="3">韓國</option>
                    <option value="3">英國</option>
                    <option value="3">以色列</option>
                    <option value="3">新加坡</option>
                    <option value="3">中國</option>
                </select>
                <!-- </div> -->
                <div class="select-one mt-5">
                    <div class="form-check" id="list">
                        <label id="form-check-label" for="radio">
                            駕照
                        </label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio" checked>
                    </div>
                    <hr>
                    <div class="form-check" id="list">
                        <label id="form-check-label" for="radio">
                            護照
                        </label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio">
                    </div>
                    <hr>
                    <div class="form-check" id="list">
                        <label id="form-check-label" for="radio">
                            身分證
                        </label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radio">
                    </div>
                    <div class="blank"></div>
                </div>
                <hr>
                <div class="directions">
                    <nav style="--bs-breadcrumb-divider: '<';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"></li>
                            <li class="breadcrumb-item active go-back" aria-current="page">
                                <a href="/Member/Upload_Identification">返回</a>
                            </li>
                        </ol>
                    </nav>
                    <a class="keep-on" href="/Member/Upload_ID_Photo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lock-fill keep-on-icon" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                        </svg>
                        &nbsp;
                        繼續
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section topCSS{
    <link href="~/css/Select_IdentificationType/normalize.css" rel="stylesheet" />
    <link href="~/css/Select_IdentificationType/Select_IdentificationType.css" rel="stylesheet" />
}