.btn:focus {
    box-shadow: none;
}

/* 新增收款方式的按鈕區塊 */
.add-new-payout-method {
    border-radius: 15px;
    margin-left: 30px;
}

.icon-add-payout-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-container {
    background-color: #E07912;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.icon {
    position: relative;
    top: 10px;
    left: 11px;
}

.payout-content-text {
    color: rgb(113, 113, 113);
}

/*了解詳情*/
.know-detail {
    padding-right: 15px;
}


.start {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
}


.icon-add-payout-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-container {
    background-color: #E07912;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.icon {
    position: relative;
    top: 10px;
    left: 11px;
}

.payout-content-text {
    color: rgb(113, 113, 113);
}


/* 選項切換列 */
.transactions {
    color: rgb(72, 72, 72);
}

.nav-tabs {
    padding-top: 20px;
    padding-bottom: 20px;
}

.completed-transactions:hover {
    color: rgb(72, 72, 72);
}

.future-transactions {
    margin-right: 20px;
    color: rgb(72, 72, 72);
}

.options a {
    text-decoration: none;
    font-weight: bold;
}

.completed-transactions {
    /* outline: 1px solid blue; */
    color: #008489;
    border-bottom: 2px solid #008489;
    margin-right: 20px;
    padding-bottom: 22px;
}

    .future-transactions:hover {
        color: rgb(66, 142, 144);
    }

.future-transactions {
     margin-right: 20px; 
    color: rgb(72, 72, 72);
}

.gross-earnings {
    color: rgb(72, 72, 72);
}

/* 查詢結果區塊 */
.has-paid-label, .has-paid-amount, .query-submit {
    color: rgb(72, 72, 72);
}

.submit {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}

.query-submit {
    white-space: nowrap;
}

/* reminder區塊 */
.reminder div span {
    color: rgb(72, 72, 72);
}

.add-payout {
    color: rgb(0,132,137);
    text-decoration: none;
}

.add-payout:hover {
    text-decoration: underline;
}

/*每個select*/
.form-select:focus {
    border-color: #ced4da;
    box-shadow: none;
}

