a {
    text-decoration: none;
    color: black;
}

    a:hover {
        border-bottom: 1px solid #000;
    }

.navbar {
    position: fixed;
    top: 0;
    z-index: 4;
}

.navbar-brand:hover {
    border: none;
}

.logo {
    width: 100px;
}

li {
    list-style: none;
}

footer ul {
    font-size: 12px;
}

footer h4 {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu.dropdown-menu-end {
    border-radius: 20px;
}

.social:hover {
    border: none;
    color: #faa;
    transition: 0.3s ease;
}

section {
    margin-top: 120px;
    margin-bottom: 50px;
}

.breadcrumb {
    color: #484848;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.title h4 {
    color: #484848;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

.lower-container {
    display: flex;
}

#dropdownMenu2 {
    width: 20%;
}

.btn {
    text-align: end;
}

.edit-btn {
    font-size: 16px;
    color: #008489;
    width: 100px;
    height: fit-content;
    padding: 0px;
    border-radius: 0%;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffffff;
}

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-switch {
    padding-left: 0;
}

    .form-switch .form-check-input {
        margin-left: 0;
    }

.form-check-input {
    font-size: 25px;
    font-size: 25px;
    background-color: #484848;
}

.input {
    outline: 0px solid #ffffff !important;
}

.function-share-to-facebook {
    display: flex;
    justify-content: space-between;
}

.function-share-to-facebook-content h5 {
    color: #484848;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.function-share-to-facebook-content p {
    color: #484848;
    font-size: 14px;
    line-height: 20px;
    margin-right: 12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

    .modal-header .btn-close {
        padding: 0.5rem 0.5rem;
        margin: 0;
    }

.modal-title {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
}

.modal-body h5 {
    font-size: 22px;
    font-weight: bold;
}

.right-container {
    box-sizing: border-box;
    height: 55%;
    padding: 2%;
    border: lightgray solid;
    border-radius: 5px;
}

#hr-sm-display {
    display: none;
}

@media screen and (max-width:767px) {
    .right-container {
        box-sizing: border-box;
        height: 5%;
        padding: 2%;
        border: none;
    }

    #hr-sm-display {
        display: block;
    }
}
